@charset "UTF-8";

body {
  margin: 0px;
  padding: 0px;
  height: 95vh;
  background-color: tan;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 40%;
  height: 50%;
  background-color: white;
  color: rgb(221, 123, 106);
  border-radius: 8px;
  box-shadow: 2px 2px 4px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

p {
  color: black;
  font-size: 1rem;
}

#img {
  height: 50%;
  width: 50%;
}
#footer {
  color: white;
}
