* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(72, 72, 179);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 10px;
}

section {
  width: 500px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#image {
  padding: 10px;
  width: 150px;
  border-radius: 50%;
  object-fit: contain;
}

button {
  width: 20%;
}

#img_container {
  text-align: center;
}

footer {
  margin-top: 10px;
  color: azure;
  box-shadow: 1px 3px 3px black;
}
